<a href="https://colab.research.google.com/github/REALJIFI/SQL/blob/main/Python_Basics_Assignment_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Number -  Integer and Float

In [7]:
# What is the data type for 100
# What is the data type for 100.05
# Use print
A = 100
B = 100.05

print(type(A))
print(type(B))
#--------------- Write your code below----------------------------#

<class 'int'>
<class 'float'>

In [8]:
# Basic Arithmetic
# what is 15% of 200
0.15 * 200
#--------------- Write your code below----------------------------#

30.0

In [9]:
# Juanita’s salary is $2,650.00 per month. If she receives a salary increase of 5%, what is her new monthly salary?
Salary = 2650
increase = 5
new_salary = (Salary * increase) / 100 #--------------- Write your code below----------------------------#
print(new_salary)

132.5

In [10]:
# Jasper collects 1,082 cans of food. He gives a certain number of cans to the first local charity he finds.
# He now has 602 cans of food. How many cans of food did he give to the first local charity?
1082 - 602
#--------------- Write your code below----------------------------#

480

In [11]:
# what is the square root of 100
import math
sqrt_100 = math.sqrt(100)
print(sqrt_100)
#--------------- Write your code below----------------------------#

10.0

## Variable Assignment - Integers and Floats

In [48]:
# what is the difference between income and tax i.e. income - tax and assign it to disposbale income
# disposable_income = income - tax
# Use input
income = 500
tax = 300
disposable_income = input("income - tax: ")
print()


#--------------- Write your code below----------------------------#

income - tax: 200

In [75]:
# Pamela’s salary is $3125.00 per month. If she receives a salary increase of 5%, her new monthly salary is:
pam_sal = 3125
sal_increase = 0.05
(pam_sal * sal_increase) / 100
input("new monthly salary: ")
print()
#--------------- Write your code below----------------------------#

new monthly salary: 157.6

In [77]:
# You plan to forecast using the Simple Liner Forecast (Y = a + bx). What is Y? when a=1200, b=0.56 and x = 2500
a = 1200
b = 0.56
x = 2500
y = (a + b*x)
input("y: ")
print()
# Use input
#--------------- Write your code below----------------------------#

y: 2600

In [78]:
# Student Calculator
# Get user input to calculate total score

first_test = input("What is your score for first test: ")
second_test = input("What is your score for second test: ")
attendance = input("What is your score for attendance: ")
exam = input("What is your score for exam: ")
total_score = (first_test + second_test + attendance + exam)
input("total_score: ")
print()

#--------------- Write your code below----------------------------#

What is your score for first test: 35
What is your score for second test: 65
What is your score for attendance: 100
What is your score for exam: 109
total_score: 309

## Strings

In [95]:
# Assign The quick brown fox jumps over the lazy dog to a Variable(text)
text = ("The quick brown fox jumps over the lazy dog")

# Slice the string to obtain quick brown fox
print(text[4:19])
# Slice the string to obtain the lazy dog
print(text[31:43])
# Use negative Indexing to obtain lazy dog
print(text[-9:])
# Obtain the Length of the string

#--------------- Write your code below----------------------------#

quick brown fox
the lazy dog
 lazy dog

In [ ]:
# Assign The quick brown fox jumps over the lazy dog to a Variable(text)

# Convert this string above into a list using one of the list methods

In [ ]:
# Get input from user and Concatenate the code below

# Name = What is your name?
# Age = How old are you?
# State = What is your state of origin?
# Profession = What is your profession?
# Bio = print(My name is _ and i'm _ years old. I am from _ state and i am _ by profession)

#--------------- Write your code below----------------------------#

## List

In [ ]:
# Create a list of states in Nigeria

# Abia
# Adamawa
# Akwa Ibom
# Anambra
# Bayelsa
# Benue
# Borno
# Cross River
# Nasarawa
# Niger
# Ogun
# Ondo
# Osun
# Oyo
# Plateau
# Rivers
# Sokoto
# Taraba
# Yobe
# Zamfara

# state = []

#--------------- Write your code below----------------------------#

In [ ]:
# Q1: What is the total length of your list

#--------------- Write your code below----------------------------#

In [ ]:
# Q2: Index and retrieve the first 10

#--------------- Write your code below----------------------------#

In [ ]:
# Q3: Index and retrieve Cross River, Nasarawa, Niger, Ogun, Ondo, Osun, Oyo, Plateau

#--------------- Write your code below----------------------------#

In [ ]:
# Q4: Use Negative indexing to retrieve the last 5 states

#--------------- Write your code below----------------------------#

## Dictionary

In [ ]:
# Q1: Create a dictionary of states and governor in Nigeria

# Abia State: nil
# Bauchi State: Bala Muhammed
# Bayelsa State: Douye Diri
# Borno State: Babagana Zulum
# Ekiti State: nil
# Lagos State: Babajide Sanwo-Olu
# Anambra State: Charles Soludo
# Taraba State: Agbu Kefas


#--------------- Write your code below----------------------------#

In [ ]:
# Q2: update Abia and Ekiti (Alex Otti, Biodun Oyebanji)

#--------------- Write your code below----------------------------#

In [ ]:
# Q3: Add
# Cross River State: Bassey Otu
# Ebonyi State: Francis Nwifuru
# Sokoto State: Ahmad Aliyu

#--------------- Write your code below----------------------------#

In [ ]:
# Q4: Remove Lagos, Sokoto, taraba and Kogi from the dictionary

#--------------- Write your code below----------------------------#

# General

In [ ]:
# Q3: What datatype ensures its elements are immutable?

#--------------- Write your answer below----------------------------#

In [ ]:
# Q4: What datatype of Python houses unordered elements?

#--------------- Write your answer below----------------------------#